.app {
  max-height: 100vh;
}
.bg-img-house {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.house {
  height: 100%;
}

.door-waves-one {
  position: absolute;
  left: 31%;
  top: 32%;
  width: 9%;
  height: 45%;
  cursor: pointer;
  z-index: 64;
}
.door-waves-two {
  left: 58%;
}

.door-waves-one:hover > .ripple {
  border: 8px solid #0f1e4c;
  animation: circle 1.5s linear infinite;
  background-color: transparent;
  position: absolute;
  top: 46%;
  left: 46%;
}

@keyframes circle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(8, 17);
  }
}

.audio {
  display: none;
}

/* Drag and Drop department */
.dnd-section {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
  max-width: 50vh;
  height: 100vh;
  margin: 0 auto;
  padding: 15px;
}
.dnd-section .board-one {
  position: absolute;
  top: 62%;
  left: 44%;
  border: 1px solid black;
  width: 100%;
  max-width: 10%;
  height: 12%;
  z-index: 45;
}
.dnd-section .board-two {
  left: 4%;
  top: 28%;
}

.dnd-section .board-one .card {
  padding: 1rem;
  z-index: 45;
  background-color: transparent;
  cursor: pointer;
}
.dnd-section .board-two .card {
  padding: 1rem;
  z-index: 45;
  background-color: transparent;
  cursor: pointer;
}
.key {
  display: flex;
  align-items: center;
  width: 60%;
  height: 40%;
  text-align: center;
  z-index: 10;
  padding-bottom: 50px;
  transform: translate(15px, -15px);
}
img {
  width: 100%;
  height: 100vh;
}

/* responsive web design*/

@media only screen and (max-width: 768px) {
  .bg-img-house .house {
    width: 100vw;
  }
  img {
    width: 100%;
    height: 100vh;
  }

  .dnd-section .board-one .card {
    padding: 0;
    padding-top: 1rem;
  }
  .dnd-section .board-two .card {
    padding: 0;
    padding-top: 1rem;
  }
}
