.bg-img-house {
  background-image: url("../assets/1202.jpg");
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.door-waves-one {
  width: 23vh;
  height: 45vh;
  position: absolute;
  left: 69.5vh;

  top: 35vh;
  cursor: pointer;
}
.door-waves-two {
  left: 131vh;
}

.door-waves-one:hover > .ripple {
  border: 8px solid #0f1e4c;
  animation: circle 1.5s linear infinite;
  background-color: transparent;
  position: absolute;
  top: 46%;
  left: 46%;
}

@keyframes circle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(8, 20);
  }
}

.audio {
  display: none;
}
