.bg-img-map {
  position: relative;
  object-fit: cover;
  background-position: center;
  height: 100vh;
}

.india {
  color: white;
  margin-left: 67%;
  position: absolute;
  font-size: 0.85rem;
  top: 50%;
  z-index: 1;
}
.cuba {
  position: absolute;
  color: white;
  font-size: 0.85rem;
  margin-left: 28%;
  top: 49%;
}
.cuba:hover {
  color: white;
  cursor: pointer;
  animation: neonGlow 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.india:hover {
  color: white;
  cursor: pointer;
  animation: neonGlow 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(66, 220, 219, 0.8), 0 0 60px rgba(66, 220, 219, 0.8),
      0 0 80px rgba(66, 220, 219, 0.5), 0 0 100px rgba(66, 220, 219, 0.5),
      0 0 140px rgba(66, 220, 219, 0.5), 0 0 200px rgba(66, 220, 219, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
      0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
      0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
      0 0 80px rgba(66, 220, 219, 0.5);
  }
}

.cuba:hover > .ripple {
  border: 8px solid #32759f;
  opacity: o.5;
  animation: ring 1.5s linear infinite;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  left: 10px;
  top: -1px;
}
.india:hover > .ripple {
  border: 8px solid #32759f;
  opacity: o.5;
  animation: ring 1s linear infinite;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  left: 5px;
}

@keyframes ring {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(2.7, 2.7);
  }
}

@media only screen and (max-width: 1200px) {
  .bg-img-map {
    height: auto;
  }
}
